#SETS

In [1]:
set_nm = set()
print(set_nm)
print(type(set_nm))

set()
<class 'set'>

In [4]:
set_n = {1,2,2,3}
print(type(set_n))
print(set_n)

<class 'set'>
{1, 2, 3}

#Inbuilt function in sets

In [5]:
set_n.add('ab')
print(set_n)

{1, 2, 3, 'ab'}

#Indexing

In [7]:
set_n[1]

TypeError: ignored

so set does not allow indexing

In [12]:
#difference

s1={'a','b','c','d'}

s2={'f','e','c','d'}

s2.difference(s1)

{'e', 'f'}

In [11]:
#update difference
s2.difference_update(s1)
print(s2)

{'e', 'f'}

#Intersection

In [13]:
s1={'a','b','c','d'}

s2={'f','e','c','d'}
s2.intersection(s1)

{'c', 'd'}

#Dictionaries

dict= {}

In [14]:
dict = {}
type(dict)

dict

In [16]:
dict={'car':'audi','car2':'bmw','car3':'toyta'}
print(dict['car2'])

bmw

In [17]:
for x in dict:
  print(x)

car
car2
car3

In [18]:
for x in dict:
  print(f'{x} : {dict[x]}')

car : audi
car2 : bmw
car3 : toyta

In [19]:
for x in dict.values():
  print(x)

audi
bmw
toyta

In [20]:
for x in dict.items():
  print(x)

('car', 'audi')
('car2', 'bmw')
('car3', 'toyta')

#replace value

In [22]:
print(dict)

dict['car']='honda'
print(dict)

{'car': 'audi', 'car2': 'bmw', 'car3': 'toyta'}
{'car': 'honda', 'car2': 'bmw', 'car3': 'toyta'}

#Nested dictionary

In [23]:
car1_model={'mercedes':1960}
car2_model={'mercedes2':1965}
car3_model={'mercedes3':1970}

cars = {'car1':car1_model,'car2':car2_model,'car3':car3_model}

print(cars['car1'])

{'mercedes': 1960}

In [26]:
print(cars['car1']['mercedes'])

1960

#

#Tuples

In [27]:
mytuple=tuple()
print(type(mytuple))

<class 'tuple'>

tuple is not immutable , cannot assign new valuw

In [29]:
print(mytuple)

()

In [28]:

mytuple[0]='abah'
print(mytuple)

()

TypeError: ignored

In [31]:
mytuple = ('r','k','a','s','k')
print(mytuple)
print(mytuple[2])

('r', 'k', 'a', 's', 'k')
a

#Inbuilt functions count, index

In [32]:
print(mytuple.count('k'))
print(mytuple.index('k'))

2
1